<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- Load jQuery -->
			<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
			<!-- Load KaTeX -->
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.1/katex.min.css">
			<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.1/katex.min.js"></script>
		</head>
		<body>
			<div class="article">
				<div name="navbar-hporro-page">
					<nav>
						<ul class="left-nav">
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/cv">CV</a></li>
						</ul>
						<ul class="right-nav">
							<li><a href="/blog">Blog</a></li>
							<li><a href="/proyect">Projects</a></li>
						</ul>
					</nav>
				</div><!-- navbar-hporro-page -->
				<div class="container">
					{{ content }}
				</div><!-- /.container -->
				<footer>
					<ul>
						<li><a href="mailto:heinich11@gmail.com">email:heinich11@gmail.com</a></li>
						<li><a href="https://github.com/hporro">Github:github.com/hporro</a></li>
					</ul>
				</footer>	
			</div>
		</body>
	</html>

	{% include global_includes.html %}